[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "rocq-doc-manager"
version = "0.0.1"
description = "Python API for the Rocq document manager."
authors = [{ name = "Rodolphe Lepigre", email = "rodolphe.lepigre@skyabs-ai.com" }]
requires-python = ">=3.11"
readme = "README.md"
license = "GPL-2.0-or-later" # Revisit this license
dependencies = ["pyyaml>=6.0.3,<7"]

[project.urls]
Repository = "https://github.com/SkylabsAI/skylabs-fm"
Issues = "https://github.com/SkylabsAI/skylabs-fm/issues"
Changelog = "https://github.com/SkylabsAI/skylabs-fm/tree/main/changes"

[project.scripts]
cram_test1 = "rocq_doc_manager.tester:cram_test1"

[dependency-groups]
dev = [
    "pytest>=8.4.2,<9",
    "black>=23.7.0,<24",
    "isort>=5.12.0,<6",
    "flake8>=6.0.0,<7",
    "mypy>=1.18.2,<2",
    "types-pyyaml>=6.0.12.20250915,<7",
]

[tool.hatch.build.targets.sdist]
include = ["src/rocq_doc_manager"]

[tool.hatch.build.targets.wheel]
include = ["src/rocq_doc_manager"]

[tool.hatch.build.targets.wheel.sources]
"src/rocq_doc_manager" = "rocq_doc_manager"

[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"rocq_pipeline" = ["py.typed"]

[tool.black]
line-length = 100
target-version = ['py311', 'py312']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.mypy]
python_version = "3.13"
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
check_untyped_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
strict_equality = true
