services:
  database:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: rocq-agent-toolkit-db
    ports:
      - "${DB_PORT:-5433}:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER:-rat_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-rat_password}
      - POSTGRES_DB=${POSTGRES_DB:-rat_db}
    volumes:
      - rat_db_data:/var/lib/postgresql/data
    networks:
      - rocq-agent-network


  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rocq-agent-toolkit-backend
    ports:
      # HOST:CONTAINER
      - "${BACKEND_PORT:-8000}:8000"
    environment:
      - OBSERVABILITY_URL=${OBSERVABILITY_URL:-http://loki:3100}
      # Database configuration
      - DATABASE_URL=postgresql://${POSTGRES_USER:-rat_user}:${POSTGRES_PASSWORD:-rat_password}@database:5433/${POSTGRES_DB:-rat_db}
      - POSTGRES_HOST=database
      - POSTGRES_PORT=5433
      - POSTGRES_USER=${POSTGRES_USER:-rat_user}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-rat_password}
      - POSTGRES_DB=${POSTGRES_DB:-rat_db}
    networks:
      - rocq-agent-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: rocq-agent-toolkit-frontend
    ports:
      - "${FRONTEND_PORT:-3005}:3005"
    networks:
      - rocq-agent-network
    environment:
      - NODE_ENV=${NODE_ENV:-production}
      - NEXT_PUBLIC_DATA_API=${NEXT_PUBLIC_DATA_API:-http://localhost:8000/api}

networks:
  rocq-agent-network:
    external: true
    name: rocq-agent-network

volumes:
  rat_db_data:
